body {
    background: linear-gradient(180deg, #eafc83, #eabf8e, #f5b5b5);
}

.header {
    padding: 20px;
    font-size: 5vh;
    font-family: "Circular Std Book";
    color: black;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.image {
    width: 100%;
    border-radius: 16px;
}

.overlay {
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.viewer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.viewerImage {
    border: none;
    /* required for mobile view */
    max-width: 90%;
    max-height: 95vh;
}
